* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

//VARIABLES
@import './variables/colores.scss';
@import './variables/extend.scss';

//IMPORTACIONES
@import './secciones/header-footer.scss';
@import './secciones/grillas.scss';
@import './secciones/servicios';
@import './secciones/index';
@import './secciones/contacto';
@import './secciones/nosotros';
@import './secciones/proyectos';
@import './secciones/mq';